body{
	width: 100%;
	height: 100%;
}
/*.nav-inner .logo{
	width: auto;
    height: auto;
    position: relative;
    left: 0;
    top: 50%;
    float: left;
}
.nav-inner .logo img{
	transition: opacity .3s;
}
.nav-menu{
	float: right;
    height: 100%;
    z-index: 9;
}
.nav-menu .nav{
	float: left;
}*/
/*.container{
	width: 1222px;
}*/

.carousel-control.left, .carousel-control.right{
  background-image: none;
}
.baner {
	background: url(../img/waxom_slider.jpg);

}
/*.baner .nav a{
	font-size: 14px;
	color: #ffffff;
}	*/
.baner .carousel{
	height: 500px;
	/*background: red; */
}
.baner .navbar-nav a {
	color: #c1ac95;
}
.baner .collapse {
	margin-top: 20px;
}
.navbar-default {
    border: none;
    background: none;
}
.navbar-default .navbar-nav>li>a {
	font-size: 14px;
    color: #ffffff;}
.navbar-default .navbar-nav>li>a:hover {
    color: #c1ac95;}

.carousel-caption{
	position: static;
	margin-top: 54px;
}
.baner h2{
	font-size: 52px;
}
.baner p{
	font-size: 16px;
}
.baner .btn{
	background: #998675;
	border-color: #998675;
}
.bg0 img{
	margin: 18% 0% 10% 42%;
}
.bg0 a{
	text-decoration: none;
}
.bg0 p{
	color: #8c8c8c;
}
.bg0 span{
	color: #555555;
	font-size: 46px;
    margin: 20% 0 5% 39%;
}
.bg0 h3{
	color: #555555;
}
.bg0 hr{
	width: 28%;
    border: 2px solid;
    color: #f1eee9;
}
.block-d:hover .element {
		color: #c7b299;
}
/*.bg0 .col-lg-3 .text-center:hover{
	color: #c7b299;
}*/
/*.bg0 hr:hover{
	color: #c7b299;
}
.bg0 h3:hover{
	color: #c7b299;
}
.bg0 img:hover{
	background: #c7b299;
}*/
.bg1{
	background: #fbfaf8;
}
.bg1 img{
	width: 100%;
}
.bg1 h2{
	margin-top: 40px;
}
.bg2{
	background: #241d1a;
}
.bg2 h2{
	color: #c7b299;
	margin-top: 4%;
}
.bg2 span{
	color: #ffffff;
}
.bg2 p{
	color: #615855;
	margin-bottom: 3%;
}
.bg2 button{
	color: #fff;
    background-color: #998675;
    border-color: #998675;
    margin:30px;

}
.bg3 h2{
	    margin-top: 3%;
}
.bg3 ul{
	margin-top: 2%;
}
.bg3 li{
	float: left;
    list-style-type: none;
    margin-bottom: 30px;
}
.bg3 a{
	font-size: 14px;
	text-decoration: none;
	color: #8c8c8c;
	 border: 1px solid black;
    padding: 5px 12px 5px 14px;
    border-radius: 3px;
    border-color: #ebebeb;
    list-style-type: none;
    margin: 24px;
    margin-bottom: 30px;
}

.bg3   a:hover {
	/*background: #998675;*/
  /*color: #fff;*/
}
.bg3 .project img{
	// cursor: zoom-in;
}

.bg3 .project{
  position: relative;
}



.bg3 .project .project-link{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 70px;
	left: 90px;
  	background: url(../img/lupa.png) no-repeat;
}
.bg3 .project .project-preview{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 70px;
	left: 170px;
	background: url(../img/lupa.png) no-repeat;
}
.bg3 .project .project-link, .bg3 .project .project-preview{
	display: none;
}
.bg3 .project:hover > .project-link,
.bg3 .project:hover > .project-preview{
	display: block !important;
}

.bg3 .project{
	margin-bottom: 30px;
	background: #fbfaf8;
}
.bg3 .project p{
	color: #c7b299;
	font-size: 20px;
	text-align: left;
    margin: 10px 0 0px 21px;
}
.bg3 .project span{
	color: #d1d1d1;
	font-size: 14px;
    margin-right: 49%;
    line-height: 4;
}
.bg3   .project:hover {
    background: #362f2d;
    color: #fff;
}
.bg3 button{
	color: #fff;
    background-color: #998675;
    border-color: #998675;
    margin:30px;
}
.bg4 {
	background: url(../img/video.png);
	height: 700px;
}
.bg4 .col-lg-12{
	margin-top: 272px;
}
.bg4 h2{
	margin: 30px;
	color: #ffffff;
}
.bg4 p{
	color: #ffffff;
	font-size: 16px;
}
.bg4 span{
	color: #c7b299;
	font-size: 14px;
}
.bg5 .col-lg-4{
	margin-top: 30px;
}
.bg5 .col-md-7{
	margin-top: 109px;
}
.bg5 p{
	color: #959595;
	font-size: 16px;
}
.bg5 li{
	padding: 10px;
	color: #8c8c8c;
	list-style-type: none;
	font-size: 16px;
}
.bg5 li img{
	margin-right: 30px;

}
.bg6 {
	background: #251d1b;
}
.bg6 .col-lg-2{
	margin: 46px 21px 30px 7px;
}
.bg6 .price{
	color: #ffffff;
	font-size: 48px;
}
.bg6 p{
	color: #c7b299;
	font-size: 14px;
}
.bg7{
	overflow: hidden;
}
.bg7 h2{
	margin: 60px 0px 30px;
}
.bg7 .col-lg-12 p{
	margin-bottom: 30px;
}
.bg7 .col-lg-4 .post{
	position: absolute;
}
.bg7 .col-lg-4 .date{
	position: relative;
}

/*.bg7 .col-lg-4 h3{
	margin-top: 180px;
}*/
/*.bg7 .item {
	border: 1px solid;
}*/
.bg7 .item:hover{
    background: #362f2d;
    color: #fff;
}
.bg7 h3{
	color: #555555;
	font-size: 20px;
	margin: 18px;
}
.bg7 p{
	font-size: 14px;
	color: #8c8c8c;
	margin: 18px;
}
.bg7 a{
	color: #c7b299;
	font-size: 14px;
	text-decoration: none;
	margin: 18px;
}
.bg7 .carousel{
	height: 500px;
}
.bg7 .carousel-indicators li{
	border: 3px solid #c7b299;
    border-radius: 13px;
}
.bg8 {
	background: url(../img/back_8.png);
	overflow: hidden;
}
.bg8 .col-lg-3{
	margin-top: 13%;
	margin-bottom: 4%;
}
.bg9{
	background: #191919;
}
.bg9 .col-lg-3{
	margin: 50px 0px;
}
.bg9 .col-lg-6{
	padding: 4px;
}
.bg9 .unik{
	margin: 20px 0 10px;
    line-height: 26px;
    color: #555555;
    padding: 0px;
}
.bg9 a{
	color: #d1d1d1;
}
.bg9 hr{
	color: #252525;
	border: 1px solid;
}
.bg9 p{
	margin:0px auto;
    line-height: 26px;
    color: #555555;
    padding: 0px;
}
.bg9 h2{
	color: #ffffff;
}
.bg9 .white{
	color: #ffffff;
}
.bg9 .unik2{
	color: #c7b299;
}
.bg9 .blue{
	color: #01b7e9;
}
.bg9 .grey{
	color: #7c7c7c;
}
.bg10{
	background: #111111;
}
.bg10 .col-lg-6{
	margin: 30px 0;
}
.bg10 li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.bg10 a{
	color: #555555;
	text-decoration: none;
}
.bg10 a:hover{
    color: #c7b299;
}
.bg10 .grey{
	color: #959595;
}
.bg10 .pull-left a{
	padding-right: 18px;
	border-right: 1px solid #252525;

}
.bg10 .pull-left .bor-none{
	border: none;
}
.bg10 .pull-right a{
	padding-right: 18px;
	border-right: 1px solid #252525;

}
.bg10 .pull-right .bor-none{
	border: none;
}
